body{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFCC;
}
h2{
    text-decoration-line: underline;
    text-align: center;
}
#navigation{

    position: absolute;
   
    text-align: center;
    left: 25%;

}
ul {
    list-style-type: none;
}
li{
    display: inline-block;
    border: solid 1px black;
    background-color: aquamarine;
    padding: 5px 15px;
    border-radius: 25%;
     
    
     
}

a{
    text-decoration:none;
}
#tablesectionOne, #tablesectionTwo, #tablesectionThre, #tablesectionFour {
    table-layout: fixed;
    text-align: center;
    background-color: #FFD;
    position: absolute;
    top: 7em

}
.caption{
    background-color: rgb(255,185,115);
    font-family: Arial;
    font-size: 1em;
}
table, td,th{
    border:1px solid  black;
    empty-cells: show;
}
table{
    border-collapse: collapse;
}